body{
    max-width: 920px;
    margin: auto;
    min-height: 100vh;
}


.sidemenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*Start of grid styling*/

@media (min-width: 300px){
    .maingrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 75px auto auto;
    grid-template-areas: 
        "header"
        "menu"
        "frame";
    }
    .sidemenuoption{
        padding: 3px;
        margin: 5px;
        border: 1px lightgray solid;
    }
    .header {
        grid-area: header;
        background-color: #064273;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 32px;
        vertical-align: center;
        line-height: 75px;
    }
    
    
}/*end of small media size*/

@media (min-width: 520px) {
    .maingrid {
      display: grid;
      grid-template-columns: 200px auto;
      grid-auto-rows: 75px auto;
      grid-template-areas: 
      "header header"
      "menu frame";
    }
    .sidemenuoption{
        padding: 10px;
        margin: 10px;
        border: 2px lightgray solid;
    }
    .header {
        grid-area: header;
        background-color: #064273;
        text-align: center;
        line-height: 75px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 68px;
    }
}

/*end of grid stylings*/
.sidemenuoption{
    background-color: lightgray;
    border:grey 3px solid;
    width: 120px;
    text-align: center;
    border-radius: 25%;
}

.menu {
    grid-area: menu;
    background-color: #76b6c4
}

.frame {
    grid-area: frame;
    background-color: rgb(19, 232, 198);
}

.pageframe{
    border: none;
    width: 100%;
    height: 100vh;
    
}

.contentbox{
    border: 5px grey groove;
    background:lightgray;
    width: 300px ;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px;
    display:grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 40px 40px 40px 40px 40px;
    border-radius: 10px;
}

.contentbox .contentheading{
    grid-column-start:span 2;
    text-align: center;
}

.contentheading{
    font-weight: bold;
}

.contentsinglebox{
    border:5px grey groove;
    width: auto;
    height: auto;
    margin: 10px;
    background-color: lightgray;
    min-height: 200px;
    text-align: center;
    border-radius: 10px;
}
.pcanswerbox{
    border:1px black solid;
    background-color: seashell;
    margin: 5px;
    margin-top:25px;
    padding:5px;
}
.numberinput{
    height:20px;
}
.outputnumbers{
    border:1px black solid;
    height: 20px;
    width: auto;
    background-color: seashell;
}

.holdingbox{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.numbertablesholderbox{
    margin-top: 25px;
    text-align: center;
    align-content: center;
}
.numbertable{
    border:5px grey groove;
    margin: 15px auto;
    background-color: lightgrey;
    width:680px 
}
.button1{
    border: 2px grey solid;
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    min-width: 100px;
}

.innerpageheading{
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
    text-align: center;
}

.truthXY{
    text-align: center;
    align-content: center;
    margin-top: 20px;
}

.truthtablebox{
    border: 1px black solid;
    margin: 10px;
    background-color: seashell;
    width: auto;
}
#result{
    margin: 15px;
}
#result{
    margin: 15px;
    min-height: 20px;
    height: auto;
    width: auto;
    border: 1px black solid;
    background-color: seashell
}
#result2{
    margin: 15px;
}
#result2{
    margin: 15px;
    min-height: 20px;
    height: auto;
    width: auto;
    border: 1px black solid;
    background-color: seashell
}

.rvbutton{
    margin-top: 15px;
}

/* magic squares*/

.magic3{
    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 250px 50px 50px 50px 50px;
    margin:10px auto;
    margin-right: 100px;
    padding: 10px;
    justify-content: center;
    
}

.magiccell{
    width: 50px;
    border: 1px black solid;
    line-height: 50px;
    font-size:24px;
    text-align: center;
}

.magicrules3{
    grid-row-start: span 3;
    grid-column-start: span 2;
    text-align: left;
    padding-right: 10px;
}

.magicrules4{
    grid-row-start: span 4;
    text-align: left;
    padding-right: 10px;
}
.magic4{
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: 250px 50px 50px 50px 50px;
    margin: 10px auto;
    margin-right: 100px;
    padding: 10px;
    justify-content: center;
}

.magicheading{
    margin:10px;
    font-size: 18px;
    font-weight: bold;
}

.magicbutton{
    width: 125px;
}
