body{
    max-width: 920px;
    margin: auto;
    min-height: 100vh;
}


.sidemenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*Start of grid styling*/

@media (min-width: 300px){
    .maingrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 75px auto auto;
    grid-template-areas: 
        "header"
        "menu"
        "frame";
    }
    .sidemenuoption{
        padding: 3px;
        margin: 5px;
        border: 1px lightgray solid;
    }
    .header {
        grid-area: header;
        background-color: #064273;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 32px;
        vertical-align: center;
        line-height: 75px;
    }
    
    
}/*end of small media size*/

@media (min-width: 520px) {
    .maingrid {
      display: grid;
      grid-template-columns: 200px auto;
      grid-auto-rows: 75px auto;
      grid-template-areas: 
      "header header"
      "menu frame";
    }
    .sidemenuoption{
        padding: 10px;
        margin: 10px;
        border: 2px lightgray solid;
    }
    .header {
        grid-area: header;
        background-color: #064273;
        text-align: center;
        line-height: 75px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 68px;
    }
}

/*end of grid stylings*/
.sidemenuoption{
    background-color: lightgray;
    border:grey 3px solid;
    width: 120px;
    text-align: center;
    border-radius: 25%;
}

.menu {
    grid-area: menu;
    background-color: #76b6c4
}

.frame {
    grid-area: frame;
    background-color: blueviolet
}

.pageframe{
    border: none;
    width: 100%;
    height: 100vh;
    
}

.contentbox{
    border: 5px grey groove;
    background:lightgray;
    width: 300px ;
    height: 200px;
    margin: 10px;
    padding: 10px;
    display:grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 40px 40px 40px 40px 40px;
}

.contentbox .contentheading{
    grid-column-start:span 2;
    text-align: center;
}

.contentheading{
    font-weight: bold;
}

.contentsinglebox{
    border:5px grey groove;
    width: auto;
    height: 200px;
    margin: 10px;
    background-color: lightgray;
}
.pcanswerbox{
    border:1px black solid;
    background-color: seashell;
    margin:5px;
    padding:5px;
}
.numberinput{
    height:20px;
}
.outputnumbers{
    border:1px black solid;
    height: 20px;
    width: auto;
    background-color: seashell;
}

.holdingbox{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.numbertablesholderbox{
    margin-top: 25px;
    text-align: center;
    align-content: center;
}
.numbertable{
    border:1px black groove;
    margin: 15px auto;
    background-color: red;
    width:600px;
    height:200px;
}

.innerpageheading{
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
}
